@font-face {
  font-family: 'Arial-MT';
  src: url(../fonts/Arial-MT.otf); }

@font-face {
  font-family: 'Arial-BoldMT';
  src: url(../fonts/Arial-BoldMT.otf); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Arial-MT'; }

.u-center-text {
  text-align: center !important; }

.u-mb-big {
  margin-bottom: 8rem !important; }

.u-mb-md {
  margin-bottom: 4rem !important; }

.u-mb-sm {
  margin-bottom: 1.2rem !important; }

.u-mt-big {
  margin-top: 8rem !important; }

.u-mt-huge {
  margin-top: 10rem !important; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem; }
  .header__logo {
    margin-left: 5rem; }

.search {
  display: inline-flex;
  flex: 0 1 55rem;
  position: relative;
  border-bottom: 2px solid #00b3be;
  overflow: hidden; }
  .search__input {
    height: 2rem;
    width: 55rem;
    font-size: 1.6rem;
    margin: 0;
    background: transparent;
    border: none;
    outline: 0;
    color: #000; }
  .search__icon {
    padding: 0.5rem; }

.user-block {
  flex: 0 1 38rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding: 0 1rem;
  font-family: 'Arial-BoldMT';
  background-color: #00b3be; }
  .user-block__profile {
    display: flex;
    align-items: center; }
  .user-block__name {
    font-size: 1.6rem;
    color: #f2f2f2;
    margin: 0 1rem; }
  .user-block__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .user-block__sign-out {
    border: none;
    background: none;
    padding: 0 1rem; }

.login-page {
  height: 100vh;
  display: flex;
  overflow: hidden; }

.section-bg {
  background: url(../img/background.png);
  background-size: cover;
  width: 100%;
  flex: 1; }
  .section-bg .logo-small {
    max-width: 11.5rem;
    margin: 2.5rem; }

.section-login {
  background-color: #00b3be;
  flex: 0 0 38rem;
  margin-left: -0.7rem;
  padding: 2.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-login .logo-big {
    max-width: 20rem;
    max-height: 7rem; }
  .section-login .tabs {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .section-login .form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-login .form .form-group {
      width: 100%; }
    .section-login .form__input {
      width: 100%;
      height: 3.5rem;
      padding: 0 0.5rem;
      margin: 0;
      background: transparent;
      border: none;
      outline: 0;
      color: #f2f2f2;
      border-bottom: 2px solid #f2f2f2; }
      .section-login .form__input::placeholder {
        color: #f2f2f2; }
      .section-login .form__input:not(:last-child) {
        margin-bottom: 1rem; }

.btn {
  background: #f2f2f2;
  padding: 0;
  border: none;
  outline: 0;
  color: inherit;
  height: 3.5rem; }
  .btn-small {
    width: 15rem; }
  .btn-big {
    width: 100%; }

.product-list {
  width: 80%;
  margin: 0 auto;
  padding: 10rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .product-list::after {
    content: '';
    flex: auto; }

.product {
  width: 32rem;
  height: 25rem;
  margin: 2rem;
  font-family: 'Arial-BoldMT'; }
  .product__image-wrapper {
    width: 100%;
    height: 80%; }
  .product__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .product__info {
    background-color: #00b3be;
    color: #f2f2f2;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; }
  .product__title {
    font-size: 1.6rem; }
