.login-page {
	height: 100vh;
	display: flex;
	overflow: hidden;
}

.section-bg {
	background: url(../img/background.png);
	background-size: cover;
	width: 100%;
	flex: 1;

	.logo-small {
		max-width: 11.5rem;
		margin: 2.5rem;
	}
}

.section-login {
	background-color: $color-primary;
	flex: 0 0 38rem;
	margin-left: -0.7rem;
	padding: 2.5rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	.logo-big {
		max-width: 20rem;
		max-height: 7rem;
	}

	.tabs {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;

		.form-group {
			width: 100%;
		}

		&__input {
			width: 100%;
			height: 3.5rem;
			padding: 0 0.5rem;
			margin: 0;
			background: transparent;
			border: none;
			outline: 0;
			color: $color-white;
			border-bottom: 2px solid $color-white;
			&::placeholder {
				color: $color-white;
			}
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}
}

.btn {
	background: $color-white;
	padding: 0;
	border: none;
	outline: 0;
	color: inherit;
	height: 3.5rem;
	cursor: pointer;

	&-small {
		width: 15rem;
	}
	&-big {
		width: 100%;
	}
}
