.product-list {
	width: 80%;
	margin: 0 auto;
	padding: 10rem 0rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex: auto;

	&::after {
		content: '';
		flex: auto;
	}
}

.product {
	width: 32rem;
	height: 25rem;
	margin: 2rem;

	&__image-wrapper {
		width: 100%;
		height: 80%;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__info {
		background-color: #00b3be;
		color: #fff;
		height: 5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;
	}

	&__title {
		font-size: 1.6rem;
	}
}
