@font-face {
	font-family: 'Arial-MT';
	src: url(../fonts/Arial-MT.otf);
}

@font-face {
	font-family: 'Arial-BoldMT';
	src: url(../fonts/Arial-BoldMT.otf);
}

* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem === 10px, 10px/16px === 62.5%
	font-family: 'Arial-MT';
}
