.u-center-text {
	text-align: center !important;
}

.u-mb-big {
	margin-bottom: 8rem !important;
}

.u-mb-md {
	margin-bottom: 4rem !important;
}

.u-mb-sm {
	margin-bottom: 1.2rem !important;
}

.u-mt-big {
	margin-top: 8rem !important;
}

.u-mt-huge {
	margin-top: 10rem !important;
}
